.attribution {
    font-size: 15px;
    text-align: center;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(210, 10%, 33%);
}

h2 {
    font-size: 1.8em;
}

.title {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%), url(/images/bg-header-desktop.png);
    background-size: cover;
    height: 50vh;
    width: 100%;
    text-align: center;
}

.title img {
    width: 100px;
    margin-top: 100px;
}

.title h1 {
    font-size: 2.2em;
    margin-top: 40px;
}

.title p {
    width: 450px;
    display: flex;
    margin: auto;
    color: hsl(201, 11%, 66%);
}

.btn-ios,
.btn-mac {
    margin-top: 40px;
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
}

.btn-ios {
    background-color: hsl(171, 66%, 44%);
    margin-right: 10px;
    border-bottom: 0.2em solid hsl(171, 66.5%, 37.5%);
}

.btn-mac {
    background-color: hsl(233, 100%, 69%);
    border-bottom: 0.2em solid hsl(233, 58.5%, 53.7%);
}

/******** MAIN ********/

.first-part {
    text-align: center;
    margin-top: 80px;
}

.first-part p {
    width: 38%;
    display: flex;
    margin: auto;
    line-height: 1.7em;
    color: hsl(201, 11%, 66%);
}

.second-part {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 80px;
}

.second-part img {
    height: 550px;
    margin-left: -30px;
}

.parts {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.part {
    width: 39%;
}

.part p {
    color: hsl(201, 11%, 66%);
}

.third-part {
    text-align: center;
    margin-top: 80px;
}

.third-part p {
    color: hsl(201, 11%, 66%);
    width: 39%;
    display: flex;
    margin: auto;
}

.third-part img {
    margin-top: 80px;
}

.fourth-part {
    text-align: center;
}

.fourth-part p {
    color: hsl(201, 11%, 66%);
}

.elements {
    display: flex;
    margin: 50px auto;
    width: 70%;
    justify-content: space-around;
}

.element {
    width: 350px;
}

.element p {
    color: hsl(201, 11%, 66%);
}

.fifth-part {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.fifth-part img {
    height: fit-content;
    display: flex;
    margin: 80px auto;
}

.sixth-part {
    text-align: center;
    margin-top: 80px;
}

.sixth-part p {
    width: 39%;
    margin: auto;
    color: hsl(201, 11%, 66%);
}

/*********** FOOTER ***********/

footer {
    height: 20vh;
    background-color: #f8f8f8;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.logo {
    display: flex;
    align-items: center;
    height: 85%;
}

.logo img {
    width: 70%;
}

.links {
    display: flex;
    width: 40%;
    align-items: center;
}

.links ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
}

.links li {
    width: 200px;
    height: 40px;
}

.socials {
    width: 7%;
    display: flex;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-around;
}

@media only screen and (min-device-width : 320px) and (max-device-width: 720px) {

    .title {
        height: 70vh;
        text-align: center;
    }

    .title img {
        width: 100px;
    }

    .title h1 {
        width: 85%;
        display: flex;
        margin: 40px auto;
    }

    .title p {
        width: 85%;
        margin: 40px auto;
    }

    .btn-ios {
        margin-right: 0;
    }

    .btn-ios,
    .btn-mac {
        margin-top: 20px;
        width: 330px;
        height: 50px;
        border-radius: 30px;
        font-size: 1em;
    }

    h2 {
        width: 80%;
        margin: 20px auto;
    }

    .first-part p,
    .sixth-part p {
        width: 70%;
    }

    .second-part {
        flex-wrap: wrap;
    }

    .second-part img {
        height: 250px;
        margin: 0 auto;
    }

    .parts {
        width: 70%;
        margin: auto;
        text-align: center;
    }

    .part {
        width: 100%;
    }

    h3 {
        text-align: center;
    }

    .third-part p {
        width: 75%;
    }

    .third-part img {
        width: 390px;
    }

    .fourth-part p {
        width: 70%;
        margin: auto;
    }

    .elements {
        flex-direction: column;
        align-items: center;
    }

    .element {
        margin: 20px 0;
    }

    .fifth-part {
        flex-direction: column;
    }

    .fifth-part img {
        margin: 30px auto;
    }

    footer {
        height: 50vh;
        flex-direction: column;
        text-align: center;
    }

    .logo {
        height: 20%;
    }

    .logo img {
        width: 15%;
        margin: auto;
    }

    .links {
        width: 100%;
        justify-content: center;
        margin: 20px 0;
    }

    .links ul {
        padding: 0;
    }

    .links li {
        width: 100%;
    }

    .socials {
        width: 50%;
        margin: auto;
    }
}